@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.Nav{
    background-color: rgba(41, 41, 41, 0);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: 0.5s;
}
.Nav.scrolled{
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    border: 2px solid rgb(236, 236, 236);
}
.NavLink.scrolled{
    color: black;
}
.LecteurAvideLogo{
    width: 60px;
    height: 60px;
    align-self: center;
    margin-left: 20px;
}
.navUl{
    display: flex;
    justify-content: space-between;
    margin-right: 20px ;
    height: 100%;
    align-items: center;
    list-style: none;


}
.navLi{
    font-weight: 500;
    height: 40px;
    margin: 5px;

}
.NavLink{
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
    text-decoration: none;
    border-radius: 15px;
    width: 110%;
    height: 100%;
    transition: 0.1s;
    color: white;
}
.NavLink:hover{
    text-decoration: underline;
    transition: 0.5s;
}
.sideBar{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 250px;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
    animation: slideLeft 0.5s;
    animation-range: entry 0 cover 70%;
}
.sideBar li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-top: 10px;

}
.sideBar a{
    width: 100%;
    margin: 0;
    margin-top: 2vh;

}
.CloseIcon{
    display: flex;
    cursor: pointer;
    margin: 20vh;
    justify-content: flex-end;
}

.SideNavLink{
    font-size: 15px;
    font-weight: 600;
    font-family: "Inter";
    text-decoration: none;
    border-radius: 15px;
    width: 110%;
    transition: 0.1s;
    color: black;
}
@media(max-Width: 800px){
    .hideOnMobile{
        display: none;
    }
}
@media(min-Width: 800px){
    .hideOnLargerScreen{
        display: none;
    }
}